@font-face { font-family: "Roald Dahl"; src: url('RoaldDahlWonkyBold.ttf'); } 
body{
    /* linear-gradient(180deg, rgba(243,139,160,0.4), rgba(246,174,153,0.4), rgba(241,202,137,0.4), rgba(213,236,194,0.4), rgba(189,210,182,0.4), rgba(135,167,179,0.4), rgba(228,186,212,0.4)),  */
    overscroll-behavior: none;
    background-color: #77B9EB;   
}

/* Heading */
.heading{
    background-image: url("./assets/banner.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 150px -30px;
    background-color: #77B9EB;
    margin-bottom: 0 !important;  
}

.heading h1, a{
    font-family: "Roald Dahl";
    font-size: 70px; 
    margin-top: 3% !important;
    margin-bottom: 1% !important;
    color: black;
    text-decoration: none;
}

/* Content */
.content{
    background-image: url('./assets/combined_illustration.jpg'); 
    background-repeat: no-repeat;
    margin: 1%;
    border-radius: 5%;
    background-color: white;
    display: flex;
    flex-direction: row;   
}

.content div{
    margin: 10px;
}

/* Information */
.information {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
}

/* Basic */
.basic{
    position: relative;
    display: flex;
    flex-direction: row;
    /* min-width: fit-content; */
    height: 45%;
}
.basic div{
    position: relative;
}

.picture{
    width: 20%;
    overflow: hidden;
    border-radius: 5%;
    max-height: 85%;
    margin-left: 5% !important;
    margin-right: 10% !important;
    scale: 1.15;
}
.logo{
    width: 100%;
    filter: saturate(180%);
    opacity: 0.9;
}
.portrait{
    height: 85%;
    width: 100%;
    filter: saturate(140%);
    opacity: 0.95;
    border-radius: 10%;
}
.description{
    width: 70%;
    margin-left: 10%;
    max-height: 85%;
    padding: 10px;
    /* background-color: rgba(248, 248, 248, 0.804); */
    background-color: rgba(196, 224, 239, 0.929);
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10%;
    font-family: "Ubuntu Mono";
    font-size: medium;
}

/* Extra */
.extra{
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    height: 65%;
}
.extra div{
    position: relative;
}

.bio{
    width: 30%;
}
.quote{
    background-color: rgba(244, 161, 161, 0.655);
    padding: 8px;
    border-radius: 5%;
    margin-left: 0px !important;
    width: 100%;
}
.quote p{
    font-family: "Shadows Into Light";
    font-weight: bolder;
}

/* Bio Table */
.bio table{
    font-family: "Ubuntu Mono";
    opacity: 0.9;   
}
.bio table th{
    background-color: rgb(242, 242, 113);
    color: #393838;
    padding: 10px;
}
.bio table td{
    background-color: rgb(171, 207, 98);
    color: #0f5237;
    padding: 10px;
}

/* Achievements table */
.achievements{
    width: 70%;
    margin-left: 5% !important;
    max-height: 320px;
    overflow-y: scroll;
    opacity: 0.95;
}
.achievements table{
    border-collapse: collapse;
    font-family: "Nova Mono";    
}
.achievements table td{
	padding: 8px;
}
.achievements table thead th {
    background-color: rgb(44, 32, 92);
    padding: 8px;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
    border: 1px solid rgb(44, 32, 92);
}
.achievements table tbody td {
	color: #393838;
	border: 1px solid #dddfe1;
    font-size: 14px;
}
.achievements table tbody tr {
	background-color: #80b5ea;
}
.achievements table tbody tr:nth-child(odd) {
	background-color: #c0d5ef;
}


/* Books */
.books {
    width: 20%;
}

.book-heading{
    width: 50%;
    margin-left: 15%;
    background-color: white;
    color: rgb(255, 85, 0);
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    font-family: "Roald Dahl";
    font-weight: bolder;
    font-size: 13px;
}

.book-covers{
    max-height: 100vh;
    overflow-y: scroll;
}

.book-covers img{
    width: 50%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;

}


/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: rgba(184, 182, 182, 0.628); */
    border-radius: 10px;
  }